<div class='search'>
  <%= form_tag search_posts_path, method: :get do %>
    <%= text_field_tag :query, nil, id: 'search' %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>

<div class='row'>
  <%= render @posts %>
</div>