<%= render @post.comments %>
<h2>Buy a print</h2>
<%= form_tag post_charges_path(@post) do %>
  <p>Buy a beautiful print of this photo for just £10!</p>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets.stripe_pk %>"
          data-description="Print of <%= @post.title %>"
          data-amount="1000"
          data-currency="GBP"></script>
<% end %>